/*!
 * CMS global css
 * Copyright 2011-2017 zotop, Inc.
 */

/*导航条样式*/
::-webkit-scrollbar{width:6px;height:6px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{background:-webkit-gradient(linear,left);width:6px;height:6px;}
::-webkit-scrollbar-thumb{border-width:0 0px;border-style:solid;border-color:#fefefe;border-radius:4px;background:#0072c6;}
::-webkit-scrollbar-thumb:hover{background:#0072c6;}
::-webkit-scrollbar-thumb:active{background:#0072c6;}

::selection {background:#0072C6;color:#fff;}

html,body {width:100%;height:100%;overflow:hidden;padding:0;margin:0;/*font-size:14px;*/}
body {padding-top:3rem;}
body.dialog{padding:0;}

dt,dt{margin-bottom:.5rem;margin-left:0;}

a{color:#0072c6;}
a:hover{color:#0064ae;outline:0 none;}
a.disabled,a[disabled]{cursor:not-allowed;color:#999;}

.full-width{width:100%;}    
.full-height{height:100%;}

.pos-s{position:static;}
.pos-r{position:relative;}
.pos-a{position:absolute;}
.pos-f{position:fixed;}
.pos-full{top:0;right:0;left:0;bottom:0}

.cur-p{cursor:pointer;}
.cur-m{cursor:move;}
.cur-d{cursor:disabled;}

.w-auto,.mw-auto{width:auto!important;}
.h-auto,.mh-auto{height:auto!important;}

.blank{width:100%;height:1rem;margin:.5rem 0;clear:both;}
.divider{width:100%;height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #e9ecef;clear:both;}

.scroll,.scrollable{overflow:auto;outline:none;}
.nicescroll-rails{background:rgba(255,255,255,0.3);width:auto!important;z-index:99999!important;}
.nicescroll-cursors{background:#0072c6!important;border:1px solid rgba(255,255,255,0.1)!important;opacity:1;cursor:pointer;}
.bootstrap-maxlength{font:normal 12px/1 sans-serif!important;padding:0.25rem 0.35rem!important;opacity:0.8;}

.bg-primary{background-color:#0072c6!important;}
.bg-success{background-color:#00bc3e!important;}
.bg-info{background-color:#00bcf2!important;}
.bg-warning{background-color:#ffa42f!important;}
.bg-transparent{background-color:transparent!important;}
.bg-image-preview{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');}       

.card-cell{margin-bottom:15px;}
.card-header>p{font-size:.75rem;}

.pagination>li>a,.pagination>li>span{color:#0064ae;background-color:#fff;border:1px solid #efefef;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#0064ae;border-color:#0064ae;}
.pagination>.page-previous.disabled .page-link{color:#ccc;}
.pagination>.page-next.disabled .page-link{color:#ccc;}

.tooltip{font-family:"Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;z-index:99999;}
.tooltip-inner{padding:0.5rem 1rem;font-size:0.75rem;line-height:150%;text-align:left;max-width:100%;white-space:nowrap;}

.tooltip-error{z-index:10;}
.tooltip-error .tooltip-inner{background-color:#ff0000;max-width:100%;}
.tooltip-error.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-error.bs-tooltip-bottom .arrow::before{border-bottom-color:#ff0000;}
.tooltip-error.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-error.bs-tooltip-top .arrow::before{border-top-color:#ff0000;}

.tooltip-block{cursor:help;}
.tooltip-block-content{display:none;line-height:1.8;}
.tooltip-block-content img.preview{max-width:400px;max-height:300px;display:block;}

.popover{}
.popover-body{padding:.5rem}

.popover-image-preview{}
.popover-image-preview .image{padding:3rem;}
.popover-image-preview .image img{max-width:30rem;max-height:20rem;}

.dropdown-menu {border-radius:3px;padding:0.25rem;box-shadow:3px 3px 0 rgba(12,12,12,0.03);}
.dropdown-head {color:#333;padding:0.5rem 10px;margin-bottom:0.25rem;border-bottom:solid 1px #e5e5e5;}
.dropdown-item{padding:0.5rem 0.75rem;transition:all 0.2s ease-out 0s;white-space:nowrap;border-radius:3px;}
.dropdown-item-icon{width:1.25rem;text-align:center;margin-right:0.25rem;}
.dropdown-item-text{font-weight:normal;}

.dropdown-menu-primary .dropdown-item{color:#0072c6;padding:0.5rem 0.75rem;border-radius:2px;transition:all 0.2s ease-out 0s;white-space:nowrap;display:block;}
.dropdown-menu-primary .dropdown-item:hover{background-color:#0064ae;color:#fff;text-decoration:none;}

.dropdown-menu.dropdown-caret:before{border-bottom:7px solid rgba(0, 0, 0, 0.2); border-left:7px solid transparent; border-right:7px solid transparent; content:""; display:inline-block; left:9px; position:absolute; top:-7px;}
.dropdown-menu.dropdown-caret:after{border-bottom:6px solid #FFFFFF; border-left:6px solid transparent; border-right:6px solid transparent; content:""; display:inline-block; left:10px; position:absolute; top:-6px;}
.dropdown-toggle::after{margin-bottom:-0.1rem;}
.dropdown-toggle-icon{padding-right:.5rem;text-align:center!important;}
.dropdown-toggle-icon:after{border:0 none!important;margin:0!important;}

/*text*/
.text-primary,.text-pending{color:#0072c6!important;}
.text-success,.text-publish{color:#00bc3e!important;}
.text-error,.text-trash,.text-danger,.text-important{color:#f00!important;}
.text-warning{color:#ffd740!important;}

.text-overflow{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.text-overflow-2{white-space:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.text-overflow-3{white-space:normal;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.text-overflow-4{white-space:normal;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;}
.text-overflow-5{white-space:normal;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;}

.text-wrap{white-space:normal;word-wrap:break-word;word-break:break-all;}
.text-nowrap{white-space:nowrap;}

.text-xs{font-size:0.75rem!important;}
.text-sm{font-size:0.875rem!important;}
.text-md{font-size:1rem!important;}
.text-lg{font-size:1.25rem!important;}

.image{overflow:hidden;}
.image img{width:100%;transition:all .5s ease-in-out;}
.image-scale:hover img {transform:scale(1.25);}

.image-preview{}
.image-preview img{max-width:100%;max-height:100%;}

.label{display:inline;padding:.25rem .75rem;font-size:85%;font-weight:normal;color:#ffffff;text-align:center;white-space:nowrap;border-radius:.25rem;}
.label.label-xs{padding:0.25rem 0.25rem;font-size:75%;}
.label.label-sm{padding:0.25rem 0.5rem;font-size:75%;}
.label.label-lg{padding:0.5rem 1rem;font-size:95%;}
.label.label-rounded{padding:.2rem 0.85rem;border-radius:1rem;}
.label.label-rounded.label-xs{padding:0 .35rem .1rem;}
.label.label-rounded.label-sm{padding:.1rem .65rem .2rem;}
.label.label-rounded.label-lg{padding:.4rem .9rem .5rem;}
.label:empty{display:none;}
.label[href]:hover,.label[href]:focus{color:#ffffff;text-decoration:none;cursor:pointer;}
.label-muted{background-color:#aaaaaa;}
.label-muted[href]:hover,.label-muted[href]:focus{background-color:#919191;}
.label-default{background-color:#777777;}
.label-default[href]:hover,.label-default[href]:focus{background-color:#5e5e5e;}
.label-primary{background-color:#4a89dc;}
.label-primary[href]:hover,.label-primary[href]:focus{background-color:#276ecc;}
.label-success{background-color:#5cb85c;}
.label-success[href]:hover,.label-success[href]:focus{background-color:#4fbb3f;}
.label-info{background-color:#3bafda;}
.label-info[href]:hover,.label-info[href]:focus{background-color:#2494be;}
.label-warning{background-color:#f6bb42;}
.label-warning[href]:hover,.label-warning[href]:focus{background-color:#f4a911;}
.label-danger{background-color:#e9573f;}
.label-danger[href]:hover,.label-danger[href]:focus{background-color:#dc3519;}


.manage{}
.manage-item:hover,.manage-item:focus{text-decoration:none;outline:0 none;}
.manage-item+.manage-item::before{display:inline-block;padding-right:.5rem;padding-left:.5rem;color:#dddddd;content:"|";}
.manage-hover{}
.manage-hover .manage-item{visibility:hidden;}
.manage-hover:hover .manage-item{visibility:visible;}

.contextmenu{}
.contextmenu-item{display:block;padding:0.5rem 0.75rem;transition:all 0.2s ease-out 0s;white-space:nowrap;text-decoration:none!important;min-width:10rem;outline:0 none!important;}
.contextmenu-item:hover{background:#0072c6;color:#fff;}
.contextmenu-item-icon{width:1.25rem;text-align:center;margin-right:0.25rem;}
.contextmenu-item-text{font-weight:normal;}

.table-responsive{border:0 none;}

.table{margin-bottom:0;}
.table>caption{padding:0.5rem 1rem;background:#f3f3f3;font-size:1.5rem;}
.table>caption.caption-default{padding:0.5rem 0;background:#fff;}
.table>tbody>tr{-webkit-transition:background-color;-o-transition:background-color;transition:background-color;-webkit-transition-duration:300ms;transition-duration:300ms;}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{font-weight:normal;padding:1rem;font-size:1rem;border-top-width:0;border-bottom:1px solid #efefef;vertical-align:middle;}
.table>thead>tr>th,.table>thead>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{background-color:#f3f3f3;padding:0.5rem 1rem;border:0 none;}

.table>tbody>tr.selected{background-color:#ECF9FF!important;}
.table>tbody>tr.disabled{background-color:#fafafa!important;cursor:not-allowed;color:#999!important;}
.table>tbody>tr.disabled img{opacity:0.2;}

.table>tbody>tr>td hr{margin:0.5rem 0;}
.table>tbody>tr>td .title{font-size:1.25rem;}
.table>tbody>tr>td .image{margin:0.25rem;}
.table>tbody>tr>td .title>span{font-size:0.875rem;color:#666;font-weight:normal;}
.table>tbody>tr>td .content{font-size:0.875rem;margin-top:0.5rem;margin-bottom:0.5rem;}
.table>tbody>tr>td .description{font-size:12px;color:#999;margin-top:0.25rem;}
.table>tbody>tr>td .manage{font-size:0.875rem;margin-top:0.25rem;}

.table>tbody>tr>td.manage{font-size:1rem;}
.table>tbody>tr>td.manage .manage-item{padding:.5rem 0;}

.table>tbody>tr>th.select,.table>tbody>tr>td.select{width:0.5rem;text-align:center;}
.table>tbody>tr>th.condensed,.table>tbody>tr>td.condensed{padding-left:0.5rem;padding-right:0.5rem;}
.table>tbody>tr>th.datetime,.table>tbody>tr>td.datetime{width:180px;}

.table>tbody>tr .d-hover{visibility:hidden;}
.table>tbody>tr:hover .d-hover{visibility:visible;}
.table>tbody>tr:hover .manage-hover .manage-item{visibility:visible;}

.table-fixed{table-layout:fixed;}
.table-nowrap>thead>tr>th,.table-nowrap>tbody>tr>th,.table-nowrap>tfoot>tr>th,.table-nowrap>thead>tr>td,.table-nowrap>tbody>tr>td,.table-nowrap>tfoot>tr>td{white-space:nowrap;}
.table-nowrap p{white-space:normal;margin-bottom:0.5rem;font-size:0.875rem;}
.table-sm>caption,.table-sm>thead>tr>th,.table-sm>tbody>tr>th,.table-sm>tfoot>tr>th,.table-sm>thead>tr>td,.table-sm>tbody>tr>td,.table-sm>tfoot>tr>td {padding:0.5rem;font-size:0.875rem;}

.table-control{border-radius:4px;background:#fff;}
.table-control>thead>tr>th,.table-control>tbody>tr>th,.table-control>tfoot>tr>th,.table-control>thead>tr>td,.table-control>tbody>tr>td,.table-control>tfoot>tr>td {padding:10px 10px;}
.table-control label{margin:0;}

.table-bordered,.table-border{border:1px solid #efefef;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td{border:1px solid #efefef;}
.table-noborder>thead>tr>th,.table-noborder>tbody>tr>th,.table-noborder>tfoot>tr>th,.table-noborder>thead>tr>td,.table-noborder>tbody>tr>td,.table-noborder>tfoot>tr>td{border:0px none;padding-left:0;}

.table-striped>tbody>tr:nth-of-type(odd) {background-color:#fff;}
.table-striped>tbody>tr:nth-of-type(even) {background-color:#f9f9f9;}

.table-hover>tbody>tr:hover{background-color:#FFFFDB;}

.table-sortable tbody tr.ui-sortable-placeholder{background-color:#ECF9FF;}
.table-sortable tbody tr.ui-sortable-helper{background-color:#fffdd7;z-index:1000;}
.table-sortable th.drag,.table-sortable td.drag{padding:0px;width:30px;background-image:url(../img/dragitem.png);background-position:center center;background-repeat:no-repeat;}
.table-sortable tbody td.drag{cursor:move;}

.table-inside>tbody>tr:last-child>td{border:0 none;}

.table.form-control{padding:.5rem;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.table.form-control tr:last-child td{border:0 none;}
/*空数据*/
.nodata{color:#999;font-size:1.2rem;height:100%;width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.nodata:before{font-family:'Font Awesome 5 Free';font-weight:400;content:'\f059';font-size:6rem;color:#ebebeb;}

.popover{max-width:100%;}
.popover-content{padding:0.5rem;}

/*form*/
.form-title{padding:0.75rem 1rem;font-size:1.25rem;background-color:#f3f3f3;}
.form-group{margin-bottom:0;padding:0.75rem 0;}
.form-group.row:hover{background:#f6fafd;}
.form-group.form-footer{background:#f6fafd;}
.form-help{color:#666;font-size:0.75rem;display:block;margin-top:.25rem;}
.form-tabs{padding:.75rem 1rem;padding-bottom:0;}
.form-tab-content{padding:.25rem 0;}

label.required:after {content:'*';font-size:0.875rem;color:#f00;margin-left:0.25rem;font-weight:bold;}
label.col-form-label {cursor:pointer;}
label.form-label {cursor:pointer;font-weight:bold;}
.col-form-field {}
.form-field {}
.form-control{min-width:3rem;}

label.radio,label.checkbox{cursor:pointer;padding-top:calc(.5rem - 1px * 3);padding-bottom:calc(.5rem - 1px * 3);padding-right:1rem;}

/*checkbox radio*/
[type=checkbox],[type=radio] {display:inline-block;text-align:center;font-family:'Font Awesome 5 Free';font-weight:400;font-size:1.2rem;color:#666;background-color:transparent;width:auto;min-width:1.2rem;clear:none;cursor:pointer;vertical-align:middle;outline:0;border:0 none;appearance:none;-webkit-appearance:none;-moz-appearance:none;transition:all 0.5s}
[type=checkbox]:focus,[type=radio]:focus{background-color:transparent;outline:0 none!important;box-shadow:none!important;}
[type=radio]{margin-top:0rem;}
[type=radio]:before{content:'\f111';}
[type=radio]:checked:before{content:'\f192';color:#0072c6;}
[type=checkbox]{margin-top:.1rem;}
[type=checkbox]:before{content:'\f0c8';}
[type=checkbox]:checked:before{content:'\f14a';color:#0072c6;} 
[type=checkbox]:disabled,[type=radio]:disabled{border-color:#d8d8d8;background-color:#ebebeb;}
[type=checkbox]:disabled:checked:before,[type=radio]:disabled:checked:before{color:#ccc;}
[type=checkbox]+span,[type=radio]+span{vertical-align:text-top;margin-left:.25rem;}
[type=checkbox]:checked+span,[type=radio]:checked+span{color:#0072c6;}


.toggle[type=checkbox]{font-size:1.8rem;font-weight:900;}
.toggle[type=checkbox]:before{content:'\f204';}
.toggle[type=checkbox]:checked:before{content:'\f205';color:#00bc3e;} 


[type=select]:not([size]):not([multiple]){padding-right:1.75rem;background:#fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat right .75rem center;background-size:.75rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none !important;margin:0;}
input[type="number"]{-moz-appearance:textfield;}

input,button,select,textarea,input:focus,button:focus,select:focus,textarea:focus{outline:0 none !important;}
textarea{resize:none;}

.input-checkboxes>label{min-width:120.25rem;cursor:pointer;}

.input-group .form-control + .form-control{border-left:0 none;}
.input-group .form-control + .input-group-prepend{margin-left:-2px;}
.input-group label{margin-bottom:0;}
.input-group-append [type="radio"],
.input-group-append [type="checkbox"]{margin:-4px 0!important;font-size:1rem!important;text-align:center;}

.input-group-merge .input-group-text{background-color:#fff;text-align:center;}
.input-group-merge .custom-select:not(:first-child), .input-group-merge .form-control:not(:first-child){border-left:0;padding-left:.375rem;}
.input-group-merge .custom-select:not(:last-child), .input-group-merge .form-control:not(:last-child){border-right:0;padding-right:.375rem;}

.card-check{max-width:100%;}
.card-check label{text-align:center;}
.card-check img{border-radius:.05rem;}
.card-check .card-body{padding:.75rem;}
.card-check .form-control-check{display:none;}
.card-check .card{border-color:#fff;border-width:3px;cursor:pointer;transition:all 0.2s;}
.card-check .card:hover,
.card-check .card:focus{border-color:rgba(0,0,0,0.1);border-color:#66bb00;}
.card-check .form-control-check:checked + .card{border-color:#66bb00;position:relative;}
.card-check .form-control-check:checked + .card:before{content:"";width:0;height:0;border-top:1.5rem solid #66bb00;border-left:1.5rem solid transparent;position:absolute;display:block;right:0;top:0;z-index:1;}
.card-check .form-control-check:checked + .card:after{content:"\f00c";position:absolute;top:.05rem;right:.05rem;color:#fff;font:900 .75rem/1 'Font Awesome 5 Free';z-index:2;}
.card-check .form-control-check:checked + .card-md:before{border-top-width:2rem;border-left-width:2rem;}
.card-check .form-control-check:checked + .card-md:after{font-size:1rem;top:.1rem;right:.1rem;}
.card-check .form-control-check:checked + .card-lg:before{border-top-width:3rem;border-left-width:3rem;}
.card-check .form-control-check:checked + .card-lg:after{font-size:1rem;top:.35rem;right:.35rem;}

.radiocards, .checkboxcards{margin:0 -0.25rem;}
.radiocards .card, .checkboxcards .card{margin:0 .25rem;}

.badge{font-size:70%;line-height:inherit;}
.badge-pill{padding:.25em .7em;}
.badge-danger{background-color:#ff0000;border-radius:0.5rem;}

.btn{cursor:pointer;}
.btn-secondary{border-color:rgba(0,0,0,.15);}
.btn-outline{border-color:rgba(255,255,255,.25);}
.btn-outline:hover,.btn-outline:focus,.btn-outline:active{background:rgba(255,255,255,.15);}
.btn-success .badge-danger{color:#5cb85c;background-color:#fff;}
.btn-light{border-color:rgba(0,0,0,.15);}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{cursor: not-allowed;opacity:0.5;}

.btn-progress{position:relative;}
.btn-progress .progress{position:absolute;top:0;right:0;bottom:0;left:0;border-radius:0;z-index:999;height:100%;}
.btn-progress .progress-bar{height:100%;}

.btn>.btn-icon{vertical-align:middle;width:1.25rem;text-align:center;}
.btn>.btn-text{font-weight:normal;}

.btn-group > .btn:not(:first-child){border-left:solid 1px rgba(255,255,255,0.2)}
.btn-group > .btn-light:not(:first-child){border-left:solid 1px rgba(0,0,0,0.1)}

.breadcrumb{background:#f7f7f7;}
.breadcrumb-item+.breadcrumb-item::before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f105'}
.breadcrumb-extra+.breadcrumb-item::before{content:''}
.breadcrumb-item:hover{text-decoration:none!important;}

/*shortcut*/
.shortcut{border:1px solid transparent;color:#666;background:transparent;margin:0;padding:0.5rem;display:block;overflow:hidden;zoom:1;border-radius:0.25rem;position:relative;text-align:left;}
.shortcut:hover{border:1px solid #70c0e7;background:#e5f3fb;text-decoration:none;}

.shortcut-media {margin-top:1.25rem;display:flex;}
.shortcut-media .shortcut-icon{align-self: center!important;}
.shortcut-media .shortcut-icon i{width:3.25rem;height:3.25rem;text-align:center;padding:0.6rem 0;font-size:2rem;border-radius:.25rem;}
.shortcut-media .shortcut-text {margin-left:.75rem;flex:1;overflow:hidden;}
.shortcut-media .shortcut-text h2{font-size:1.25rem;margin:0;margin-bottom:.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.shortcut-media .shortcut-text p{font-size:0.875rem;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.shortcut-media .shortcut-badge {position:absolute;left:0;top:0;}
.shortcut-media .shortcut-badge a{color:#fff;}

.shortcut-thumb {text-align:center;}
.shortcut-thumb .shortcut-icon i{width:3.6rem;height:3.6rem;margin:0;padding:0.8rem 0;font-size:2rem;border-radius:.25rem;text-align:center;}
.shortcut-thumb .shortcut-text{position:relative;left:0;}
.shortcut-thumb .shortcut-text h2{font-size:0.875rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;margin:0.75rem 0 0 0;}
.shortcut-thumb .shortcut-text p{display:none;}
.shortcut-thumb .shortcut-badge {position:absolute;right:0.75rem;top:0px;}
.shortcut-thumb .shortcut-badge a{color:#fff;}


.global-header{position:fixed;top:0;left:0;right:0;z-index:100;background-color:#0072c6;box-shadow:0 1px rgba(255,255,255,0.1);}
.global-body{height:100%;position:relative;zoom:1;}
.global-footer{display:none;}

.global-navbar{float:left;}
.global-navbar>li{float:left;}
.global-navbar>li>a{position:relative;display:block;max-width:10rem;padding:0.75rem 1.25rem;color:#fff;font-size:1rem;transition:all 0.2s ease-out 0s;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.global-navbar>li>a:hover,.global-navbar>li>a:focus{background-color:#0064ae;outline:0 none;text-decoration:none;}
.global-navbar>li.active>a,.global-navbar>li.active>a:hover,.global-navbar>li.active >a:focus {background-color:#00bcf2;}
.global-navbar>li.show>a,.global-navbar>li.show>a:hover,.global-navbar>li.show>a:focus {background-color:#0064ae;}
.global-navbar>li.brand>a{background-image:url(../img/logo.png);background-repeat:no-repeat;background-position:center center;width:3rem;height:3rem;padding:0;text-indent:-500px;background-size:2rem 2rem;}
.global-navbar>li.sitename>a{min-width:5rem}
.global-navbar>li>a>.badge{position:absolute;right:2px;top:0.5rem;}

.global-navbar .dropdown-menu{border:solid 2px #0064ae;border-top:0 none;margin-top:0;border-top-left-radius:0;border-top-right-radius:0;}
.global-navbar .dropdown-menu:before{position:absolute;top:-7px;left:0.5rem; display:inline-block; border-right:7px solid transparent; border-bottom:7px solid #ccc; border-left:7px solid transparent; border-bottom-color:rgba(0,0,0,0.2); content:'';}
.global-navbar .dropdown-menu:after{position:absolute;top:-6px;left:0.5rem; display:inline-block; border-right:6px solid transparent; border-bottom:6px solid #fff; border-left:6px solid transparent; content:'';}
.global-navbar .dropdown-menu-right:before{left:auto;right:0.5rem;}
.global-navbar .dropdown-menu-right:after{left:auto;right:0.5rem;}
.global-navbar .dropdown-start .shortcuts {width:40rem;max-height:26.5rem;padding:0.25rem;}

.global-tools>li>a{padding:0.75rem 1rem;}


/* 侧边区域 side*/
.side{display:flex;flex-direction:column;position:absolute;top:0;left:0;bottom:0;background:#f6fafd;color:#666;width:16rem;}
.side:after{content:'';display:block;position:absolute;top:0;bottom:0;right:0;width:3px;border-right:1px solid #efefef;box-shadow:-0.25rem 0.25rem 0.25rem -0.25rem rgba(0,0,0,0.1) inset;z-index:-1;}
.side-header{display:flex;font-size:1.5rem;padding:0.75rem 0.75rem;position:relative;clear:both;z-index:1;border-bottom:1px solid transparent;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.side-action{float:right;margin:10px 1rem 0 0.25rem;line-height:20px;}
.side-action a{font-size:1rem;}
.side-body.scrollable{flex:1;}
.side-footer{display:flex;padding:0.5rem 0.75rem;border-top:1px solid transparent;}

.main{display:flex;flex-direction:column;position:absolute;top:0;left:0;right:0;bottom:0;}
.main-header{display:flex;position:relative;text-align:center;border-bottom:1px solid #efefef;background-color:#fff;padding:0.75rem 0.75rem;}
.main-header .main-back{display:inline-block;padding:0 0.25rem;}
.main-header .main-back a{display:inline-block;border-radius:50%;font-size:1.75rem;line-height:1.3;min-width:2.25rem;text-align:center;vertical-align:middle;margin-left:-0.5rem;transition:all 0.2s;}
.main-header .main-back a:hover{background:#efefef;}
.main-header .main-back b{display:none;font-size:1rem;}
.main-header .main-title{display:inline-block;font-size:1.5rem;vertical-align:middle;padding:0 0.5rem;}
.main-header .main-action{padding:0 0.5rem;}
.main-header .main-action .breadcrumb{background:transparent;padding:0.25rem 1rem;margin-bottom:0;margin-top:0.1875rem;}
.main-header .main-action .breadcrumb-item+.breadcrumb-item::before{color:#ccc;}
.main-header .main-action .btn{line-height:1.2;}
.main-header .main-action .form-control{line-height:1.2;padding-top:0;padding-bottom:0;}
.main-header .main-action select.form-control:not([size]):not([multiple]){height:calc(2.00rem + 2.5px);}

.main-body.scroll,.main-body.scrollable{flex:1;}

.main-footer{display:flex;z-index:100;border-top:1px solid #efefef;background:#fff;padding:0.5rem 0.75rem;}
.main-footer .select-all{margin:0.20rem .25rem;vertical-align:middle;}
.main-footer .btn{line-height:1.2;}
.main-footer .footer-text{white-space:nowrap;display:inline-block;padding:0.425rem;}
.main-footer .pagination{margin-bottom:0;}
.main-footer .pagination>li>a, .main-footer .pagination>li>span{border:0 none;border-radius:0.25rem!important;}
.main-footer .pagination .page-link{margin-left:1px;line-height:1.2;}

.side + .main{margin-left:16rem;}

.nav-side{flex-direction:column!important;}
.nav-side .nav-item{flex:1 1 100%;}
.nav-side .nav-link{border-radius:0;padding:0.75rem 0.75rem;}
.nav-side .nav-link:hover{background-color:#ECF9FF}
.nav-side .nav-link.active{background-color:#0275d8;cursor:pointer;}
.nav-side .nav-icon{width:1.25rem;text-align:center;margin-right:.25rem;}
.nav-side .nav-text{}
.nav-side .nav-item .nav .nav-link{padding-left:2.75rem;}
.nav-side .diver{}

.jumbotron{border-radius:0;}
.jumbotron h1{font-size:4rem;margin-bottom:1rem;font-weight:400;line-height:1.5;}
.jumbotron p{font-size:1.25rem;margin-bottom:1rem;}


/*css3 animation*/
@keyframes wave{0%{transform:translate(-90px,0);}100%{transform:translate(85px,0);}}
@keyframes flicker{0%,50%,100%{opacity:1;}25%,75%{opacity:0;}}

/* wave */
.animation-wave{position:absolute;right:0;bottom:0;left:0;display:block;width:100%;height:3em;}
.animation-wave .parallax>use{animation:wave 12s linear infinite;}
.animation-wave .parallax>use:nth-child(1){animation-delay:-2s;}
.animation-wave .parallax>use:nth-child(2){animation-delay:-2s;animation-duration:5s;}
.animation-wave .parallax>use:nth-child(3){animation-delay:-4s;animation-duration:3s;}

/* flicker */
.animation-flicker{animation:flicker 1s .5s infinite ease both;}

/* 分辨率大于1200px */
@media (min-width:1200px) {
    /*.dropdown:hover>.dropdown-menu {display:block;}*/
    .jumbotron {padding:6rem 2rem;}
}

/* 分辨率小于1400px */
@media (max-width:1400px){
    html{font-size:14px;} 
}
