.zotop.sp-container{
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top:2px;
}

.zotop.sp-container .sp-palette-container {
    border-right: solid 1px #ebebeb;
}

.zotop.sp-container .sp-palette .sp-thumb-el{
    border:solid 0px #e0e0e0;
    background:transparent;
    margin: 2px 2px;
}

.zotop.sp-container .sp-palette .sp-thumb-el:hover, 
.zotop.sp-container .sp-palette .sp-thumb-el.sp-thumb-active {
    transform:scale(1.1);
}

.zotop.sp-container .sp-color, 
.zotop.sp-container .sp-hue, 
.zotop.sp-container .sp-clear {
    border: solid 0px #FFF;
}

.zotop.sp-container .sp-input-container{margin-bottom:0px;}
.zotop.sp-container .sp-input{
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;    
}

.zotop.sp-container .sp-button-container {
    width: 100%;
    margin-top:6px;
}
.zotop.sp-container .sp-cancel,
.zotop.sp-container button{
    padding: 3px 10px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    text-shadow: none;
    display: inline-block;
    color:#333;
}
.zotop.sp-container .sp-cancel{
    float: left;
}

.sp-clear-display{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    cursor: pointer;    
}

.zotop.sp-container button{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    float: right;
}


.zotop .sp-picker-container{width:218px;}
